*{
    padding:0;
    margin:0
}
a{
    text-decoration: none;
}
html,body{
    font-size: 62.5%;
    background: #ffffff;
    height: 100%;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    box-orient:vertical;//垂直排列
}
ul li{
    list-style: none;
}
.hide{
    display: none;
}
#dialogBox{
    background-color:#ffffff;
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
}
#dialogBox .dialogContent{
    background-color: white;
    height: 100%;
}
#dialogBox .positionTop{
    position: absolute;
    top: 0;
    width: 100%;
}

#dialogBox .positionBottom{
    position: absolute;
    bottom: 0;
    width: 100%;
}
#dialogBox .positionCenter{
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);;
    transform:translate(-50%,-50%);
    width: 100%;
}