#selectCity {
  height: 100%;
  li {
    padding: 10px;
  }
  .provinceBox {
    position: absolute;
    left: 0;
    height: 100%;
    width: 50%;
    overflow-y: auto;
  }
  .cityBox {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: #f5f5f5;
    overflow-y: auto;
  }
  .pActive {
    background-color: #f5f5f5;
  }
  .cActive {
    color: #fd9125;
  }
  .active {
    display: block;
    float: right;
    height: 15px;
    width: 20px;
    background: url("../../../static/images/Selected.png") no-repeat;
  }
}