<div id="selectCity">
    <ul class="provinceBox">
        <li v-for="province in provinceList" @click="selectProvince($index)"
            :class="{pActive:$index==provinceIndex}">
            {{province.name}}
        </li>
    </ul>
    <ul class="cityBox">
        <li v-for="city in provinceList[provinceIndex].city" @click="selectCity($index,city)"
            :class="{cActive:$index==cityIndex}">
            {{city.name}}<i :class="{active:$index==cityIndex}"></i>
        </li>
    </ul>
</div>
